<div class="container">
  <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">

  </div>
</div>

<!-- Shoping Cart -->

  <div class="container">
     <div class="row mt-4">
        <div class="col-md-3">
      <a href="/admin/add-coupon" class="btn btn-primary ml-auto">Add Coupon</a>
        </div>
        </div>
    <div class="row mt-5">
      <div class="m-l-25 m-r--38 m-lr-0-xl">
        <div class="wrap-table-shopping-cart">
          <table class="table-shopping-cart">
            <tr class="table_head">

              <th class="column-1">No</th>
              <th class="column-1">Coupon</th>
              <th class="column-1">Start Date</th>
              <th class="column-1">End Date</th>
              <th class="column-1">Offer Percentage</th>
              <th class="column-1">Actions</th> 
          
           </tr>
            {{#each coupon}}
              <tr class="table_row">
                <td class="column-1">
                  1
                </td>
                <td class="column-1">
                  {{this.code}}
                </td>
                <td class="column-1">
                 {{this.startDate}}

                </td>
               
                <td class="column-1">
                  {{this.endDate}}
                </td>
                <td class="column-1"> {{this.percentage}}</td>
                <td class="column-1">
                    <a
                          class="btn btn-primary"
                          href="/admin/delete-coupon?id={{this._id}}"
                        >Delete</a>
                </td>
              </tr>
            {{/each}}

          </table>
        </div>
      </div>
    </div>

  </div>

