
</script>
<section>
   <div class="wrapper d-flex align-items-stretch"></div>
    <div id="content" class="p-4 p-md-5 pt-5"> 
    <div class="container">
     <table class="table mt-5" id="table_id">
  <thead >
    <tr>
      <th scope="col">No</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Buttons</th>


    </tr>
  </thead>
  <tbody>
      {{#each user1}}
     <tr>
      <th scope="row"> {{inc @index}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
        <td>
        {{#if this.isUnblocked}}
         <a href="/admin/edit-user/{{this._id}}" class="btn btn-primary" onclick="return confirm('Are you want to block {{this.username}}?')">Block</a>
        {{else}}
         <a href="/admin/editt-user/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are you want to unblock {{this.username}}?')">Unblock</a>
        {{/if}}
        </td>
    </tr>
      {{/each}}
  </tbody> 
</table>
    </div>
</div>
</div>
</section>

<script>
$(function () {
    $('#table_id').DataTable();
} );
</script>