

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.js"></script>
</script>


<section>
  
        <!-- Page Content  -->
      <div class="wrapper d-flex align-items-stretch"></div>
      <div id="content" class="p-4 p-md-5 pt-5">      

      <div class="container">
      <div class="row mt-4">
        <div class="col-md-3">
      <a href="/admin/add-product" class="btn btn-primary ml-auto">Add Product</a>
        </div>
        </div>
  <table class="table mt-3" id="table_id">
  <thead >
    <tr>
      <th scope="col">Sl.No</th>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
            <th>Image</th>

      <th scope="col">Buttons</th>


    </tr>
  </thead>
  <tbody>
    
      {{#each products}}

      <tr>
      <th scope="row"> {{inc @index}}</th>
      <td>{{this.Name}}</td>

      <td>{{this.Category}}</td>

      <td>{{this.Price}}</td>
      <td>{{this.Description}}</td>
      <td><img style="width: 50px; height: 50px;" src="/product-images/{{this._id}}-0.jpg" alt=""></td>
      <td>
         <button  class="btn btn-primary" onclick="sweetalertclick('/admin/edit-product/{{this._id}}')">Edit</button>
         <button  class="btn btn-danger" onclick="sweetalertclick1('/admin/delete-product/{{this._id}}')">Delete</button>
        </td>
    </tr>   
      {{/each}}
  </tbody> 
</table>
    </div>
</section>
      </div>
		
    
    </div>

  {{#each Category}}
    <p>{{this.Name}}</p>
    {{/each}}

{{#each products}}
<script>
$(function () {
    $('#table_id').DataTable();
});

function sweetalertclick(value){
  Swal.fire(
  {
  title: 'Are you sure?',
  text: "You want to edit this item?",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Edit!'
}).then((result) => {
  if (result.isConfirmed) {
     window.location = value   
  }
}
)
}

function sweetalertclick1(value){
Swal.fire({
  title: 'Are you sure?',
  text: "You want to delete this item?",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {    
      window.location =  value    
  }
})
}

</script>

{{/each}}

 