<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.js"></script>

{{!-- <div id="pagination-container"></div> --}}

<style>
  body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 18px;
	background: #f4f4f4;
}

.list-item {
	border: 1px solid #EEE !important;
	background: #FFF !important;
	margin-bottom: 10px !important;
	padding: 10px !important;
	box-shadow: 0px 0px 10px 0px #EEE !important;
}

.list-wrapper {
	padding: 15px !important;
	overflow: hidden !important;
}

.list-item h4 {
	color: #FF7182 !important;
	font-size: 18px !important;
	margin: 0 0 5px !important;	
}

.list-item p {
	margin: 0 !important;
}

.simple-pagination ul {
	margin: 0 0 20px !important;
	padding: 0 !important;
	list-style: none !important;
	text-align: center !important;
}

.simple-pagination li {
	display: inline-block !important;
	margin-right: 5px !important;
}

.simple-pagination li a,
.simple-pagination li span {
	color: #666 !important;
	padding: 5px 10px !important;
	text-decoration: none !important;
	border: 1px solid #EEE !important;
	background-color: #FFF !important;
	box-shadow: 0px 0px 10px 0px #EEE !important;
}

.simple-pagination .current {
	color: #FFF !important;
	background-color: #FF7182 !important;
	border-color: #FF7182 !important;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
	background: #e04e60 !important;
}
</style>

<!-- Slider -->
<section class="section-slide">
  <div class="wrap-slick1 rs1-slick1">
    <div class="slick1 pt-4 mt-5">
      <div
        class="item-slick1"
        style="background-image: url(images/slide-03.jpg);"
      >
        <div class="container h-full">
          <div class="flex-col-l-m h-full p-t-100 p-b-30">
            <div
              class="layer-slick1 animated visible-false"
              data-appear="fadeInDown"
              data-delay="0"
            >
              <span class="ltext-202 cl2 respon2">
                Men Collection 
              </span>
            </div>

            <div
              class="layer-slick1 animated visible-false"
              data-appear="fadeInUp"
              data-delay="800"
            >
              <h2 class="ltext-104 cl2 p-t-19 p-b-43 respon1">
                New arrivals
              </h2>
            </div>

            <div
              class="layer-slick1 animated visible-false"
              data-appear="zoomIn"
              data-delay="1600"
            >
              <a
                href="/catdetails/Men"
                class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04"
              >
                Shop Now
              </a>
            </div>
          </div>
        </div>
      </div>

      <div
        class="item-slick1"
        style="background-image: url(images/slide-02.jpg);"
      >
        <div class="container h-full">
          <div class="flex-col-l-m h-full p-t-100 p-b-30">
            <div
              class="layer-slick1 animated visible-false"
              data-appear="rollIn"
              data-delay="0"
            >
              <span class="ltext-202 cl2 respon2">
               For Men & women
              </span>
            </div>

            <div
              class="layer-slick1 animated visible-false"
              data-appear="lightSpeedIn"
              data-delay="800"
            >
              <h2 class="ltext-104 cl2 p-t-19 p-b-43 respon1">
              All Accessories
              </h2>
            </div>

            <div
              class="layer-slick1 animated visible-false"
              data-appear="slideInUp"
              data-delay="1600"
            >
              <a
                href="/catdetails/Accessories"
                class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04"
              >
                Shop Now
              </a>
            </div>
          </div>
        </div>
      </div>

      <div
        class="item-slick1"
        style="background-image: url(images/slide-04.jpg);"
      >
        <div class="container h-full">
          <div class="flex-col-l-m h-full p-t-100 p-b-30">
            <div
              class="layer-slick1 animated visible-false"
              data-appear="rotateInDownLeft"
              data-delay="0"
            >
              <span class="ltext-202 cl2 respon2">
                Women Collection 
              </span>
            </div>

            <div
              class="layer-slick1 animated visible-false"
              data-appear="rotateInUpRight"
              data-delay="800"
            >
              <h2 class="ltext-104 cl2 p-t-19 p-b-43 respon1">
                NEW SEASON
              </h2>
            </div>

            <div
              class="layer-slick1 animated visible-false"
              data-appear="rotateIn"
              data-delay="1600"
            >
               <a
                href="/catdetails/Women"
                class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04"
              >
                Shop Now
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Banner -->
<div class="sec-banner bg0 p-t-95 p-b-55">
  <div class="container">
    <div class="p-b-10">
      <h3 class="ltext-103 cl5">
        CATEGORIES
      </h3>
    </div><br /><br />
    <div class="row">
      {{#each categories}}
        <div class="col-md-6 col-lg-4 p-b-30 m-lr-auto">
          <!-- Block1 -->

          <div class="block1 wrap-pic-w">
            <img
              style="height: 300px;"
              src="/category-images/{{this._id}}.jpg"
              alt="IMG-BANNER"
            />

            <a
              href="/catdetails/{{this.Name}}"
              class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3"
            >

              <div class="block1-txt-child1 flex-col-l">
                <span class="block1-name ltext-102 trans-04 p-b-8">
                  {{this.Name}}
                </span>

                <span class="block1-info stext-102 trans-04">

                  {{this.Type}}
                </span>
              </div>

              <div class="block1-txt-child2 p-b-4 trans-05">
                <div class="block1-link stext-101 cl0 trans-09">
                  Shop Now
                </div>
              </div>
            </a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<!-- Product -->
<section class="bg0 p-t-23 p-b-130">
  <div class="container">
    <div class="p-b-10">
      <h3 class="ltext-103 cl5">
        Product Overview
      </h3>
    </div>

    <div class="flex-w flex-sb-m p-b-52">
      <div class="flex-w flex-l-m filter-tope-group m-tb-10">
        <button
          class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1"
          data-filter="*"
        >
          All Products
        </button>

       
       </div>
      
        
          

         <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search text-end" >
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search text-end"></i>
						
						search
       
					</div>
	<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

					 <input
            class="mtext-107 cl2  plh2 p-r-15"
            onkeyup="sendData(this)" 
            
            name="search-product"
            placeholder="Search"
          />
         

					</div>	
				</div>
         <ul class="list-group list-group-flush">
            <li class=""  id="searchResult"></li>
          </ul>

    </div>

    <div class="row isotope-grid">
          
      {{#each products}}
          <div class="block2 list-wrapper">
        <div class="list-item  col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
          <!-- Block2 -->
          
            <div class="block2-pic  hov-img0 label-new"
            
            {{#if this.offer}}
             data-label="{{this.percentage}} %"
             {{else}}
              data-label="No Offer"
              {{/if}}>
             
              
              <img
                style="height: 300px;"
                src="/product-images/{{this._id}}-0.jpg"
                alt="IMG-PRODUCT"
              />
              <a
                 href="/productdetails/{{this._id}}"
                class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 "
              >
                Quick View
              </a>
            </div>
            <div class="block2-txt flex-w flex-t p-t-14">
              <div class="block2-txt-child1 flex-col-l">

                <a
                  href="/productdetails/{{this._id}}"
                  class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
                >
                  {{this.Name}}
                </a>

                <span class="stext-105 cl3">
                  {{this.Price}}

                  {{!-- &nbsp;&nbsp;&nbsp;&nbsp; <del>{{this.actualPrice}}</del> --}}
                </span>
                  <span class="stext-105 cl3">
                    {{#if offer}}
                    Actual Price:
                    {{/if}}
                 <del>{{this.actualPrice}}</del>
                </span>
               
              </div>

            

              <div class="block2-txt-child2 flex-r p-t-3" >            
             
                              
                 {{#if this.wish}}

                 <button id="wishbox{{this._id}}" class="btn-addwish-b11" onclick="removeWhish('{{this._id}}')"><i class="fa fa-heart" style="color:crimson;"></i></button>
                 <button id="addwishbox{{this._id}}" class="btn-addwish-b11" style="display: none;" onclick="addToWhish('{{this._id}}')"><i class="bi bi-heart  icon-heart11" style="color:black;"></i></button>
                               
                 {{else}} 
                  
                 <button id="wishbox{{this._id}}" class="btn-addwish-b11" style="display: none;" onclick="removeWhish('{{this._id}}')"><i class="fa fa-heart" style="color:crimson;"></i></button>
                 <button id="addwishbox{{this._id}}" class="btn-addwish-b11" onclick="addToWhish('{{this._id}}')"><i class="bi bi-heart  icon-heart11" style="color: black;"></i></button>
                   
                 {{/if}}
             
           
             
                </a>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
     

    <!-- Pagination -->
    <div class="flex-c-m flex-w w-full p-t-38">
      <div id="pagination-container"></div>
    </div>
   
  </div>
</section>





{{>user-footer}}

<script >
var items = $(".list-wrapper .list-item");
    var numItems = items.length;
    var perPage = 20;

    items.slice(perPage).hide();

    $('#pagination-container').pagination({
        items: numItems,
        itemsOnPage: perPage,
        prevText: "&laquo;",
        nextText: "&raquo;",
        onPageClick: function (pageNumber) {
            var showFrom = perPage * (pageNumber - 1);
            var showTo = showFrom + perPage;
            items.hide().slice(showFrom, showTo).show();
        }
    });
</script>
<!--===============================================================================================-->
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/javascripts/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<script>
  $(".js-select2").each(function(){ $(this).select2({ minimumResultsForSearch:
  20, dropdownParent: $(this).next('.dropDownSelect2') }); })
</script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/slick/slick.min.js"></script>
<script src="javascripts/slick-custom.js"></script>
<!--===============================================================================================-->
<script src="vendor/parallax100/parallax100.js"></script>
<script>
  $('.parallax100').parallax100();
</script>
<!--===============================================================================================-->
<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<script>
  $('.gallery-lb').each(function() { // the containers for all your galleries
  $(this).magnificPopup({ delegate: 'a', // the selector for gallery item type:
  'image', gallery: { enabled:true }, mainClass: 'mfp-fade' }); });
</script>
<!--===============================================================================================-->
<script src="vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/sweetalert/sweetalert.min.js"></script>
<script>
  $('.js-addwish-b2').on('click', function(e){ e.preventDefault(); });
  $('.js-addwish-b2').each(function(){ var nameProduct =
  $(this).parent().parent().find('.js-name-b2').html(); $(this).on('click',
  function(){ swal(nameProduct, "is added to wishlist !", "success");
  $(this).addClass('js-addedwish-b2'); $(this).off('click'); }); });
  $('.js-addwish-detail').each(function(){ var nameProduct =
  $(this).parent().parent().parent().find('.js-name-detail').html();
  $(this).on('click', function(){ swal(nameProduct, "is added to wishlist !",
  "success"); $(this).addClass('js-addedwish-detail'); $(this).off('click'); });
  }); /*---------------------------------------------*/
  $('.js-addcart-detail').each(function(){ var nameProduct =
  $(this).parent().parent().parent().parent().find('.js-name-detail').html();
  $(this).on('click', function(){ swal(nameProduct, "is added to cart !",
  "success"); }); });
</script>
<!--===============================================================================================-->
<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
  $('.js-pscroll').each(function(){ $(this).css('position','relative');
  $(this).css('overflow','hidden'); var ps = new PerfectScrollbar(this, {
  wheelSpeed: 1, scrollingThreshold: 1000, wheelPropagation: false, });
  $(window).on('resize', function(){ ps.update(); }) });
</script>
<!--===============================================================================================-->
<script src="javascripts/main.js"></script>