<script src="https://fonts.googleapis.com/css?family=Raleway";
></script>

<style>
  * { box-sizing: border-box; }
body { 
  margin: 0; 
  padding: 0; 
  background: #333;
  font-family: Raleway; 
  text-transform: uppercase; 
  font-size: 11px; 
}
h1{ margin: 0; }
#contact { 
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  margin: 3em auto;
  width: 100px; 
  height: 30px; 
  line-height: 30px;
  background: teal;
  color: white;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
}

#contact:hover { background: #666; }
#contact:active { background: #444; }

#contactForm { 
  display: none;

  border: 6px solid salmon; 
  padding: 2em;
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%)
  
}

#wallet { 
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  margin: 3em auto;
  width: 100px; 
  height: 30px; 
  line-height: 30px;
  background: teal;
  color: white;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
}

#wallet:hover { background: #666; }
#wallet:active { background: #444; }

#walletForm { 
  display: none;

  border: 6px solid salmon; 
  padding: 2em;
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%)
  
}
input, textarea { 
  margin: .8em auto;
  font-family: inherit; 
  text-transform: inherit; 
  font-size: inherit;
  
  display: block; 
  width: 280px; 
  padding: .4em;
}
textarea { height: 80px; resize: none; }

.formBtn { 
  width: 140px;
  display: inline-block;
  
  background: teal;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
}
</style>


<div class="mt-5 container container2 card">
    <div class="main-body">
    
     <div class="row gutters-sm mt-3 ms-5">
         
             {{#each address}}
            <div class="col-md-4 mb-3 mt-5">
              <div class="card">
                <div class="card-body">
                  
                
                    
                      <h5 class="d-flex align-items-center mb-3 ms-5 ps-5"><i class="material-icons text-info mr-2">Address</i></h5>
                      <h6>House Name:    {{this.house}}</h6>
                      <div class="progress mb-3" style="height: 5px">
                      </div>
                      <h6>Street:    {{this.street}}</h6>
                      <div class="progress mb-3" style="height: 5px">
                      </div>
                      <h6>City:    {{this.city}}</h6>
                      <div class="progress mb-3" style="height: 5px">
                      </div>
                      <h6>Pincode:    {{this.pincode}}</h6>
                      <div class="progress mb-3" style="height: 5px">
                      </div>
                      <h6>State:    {{this.state}}</h6>
                      <div class="progress mb-3" style="height: 5px">
                      </div>                    
                    </div>
                   
                    <button  class="btn btn-secondary" onclick="autoFill('{{this.house}}','{{this.street}}','{{this.city}}','{{this.pincode}}','{{this.state}}')">
                            Choose
                        </button>
                  
                  </div>
                </div>           
                 {{/each}}

            
             
            </div><br>
          <!-- /Breadcrumb -->
  <div class="row gutters-sm mt-3 ms-5">
    <div class="col-md-6">
              <div class="card mb-3">
         
             <form action="" id="checkout-form">
         <div class="row gutters-sm">
              <h2 class="ms-5 mt-3 ps-5">Shipping Address</h2>
                <div class="card-body">
                  <div class="row mt-3">
                    <div class="col-sm-3">
                      <h6 class="mb-0 ms-4">House Name:</h6>
                    </div>
                   
                    <div class="col-sm-9 text-secondary">
                      <input class="profile stext-110 cl2" type="text" id="name" name="name"> 
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0 ms-4">Street:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <input class="profile stext-110 cl2" type="text" id="street" name="street"> 
                    </div>
                  </div>
                  <hr>
                 
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0 ms-4">City:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <input class="profile stext-110 cl2" type="text" id="city" name="city">
                    </div>
                  </div>
                  <hr>
                      <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0 ms-4">Pincode:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <input class="profile stext-110 cl2" type="tel" id="pincode" name="pincode">
                    </div>
                  </div>
                  <hr>
                     <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0 ms-4">State:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     <input class="profile stext-110 cl2" type="tel" id="state" name="state">
                    </div>
                  </div>
                  <hr>
                 <input class="profile" type="text" id="userId" name="userId" value="{{user._id}}" hidden>
                    </div>
                 
                </div>
              </div>
            </div>

                 <div class="col-md-4 mb-3">
           <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 >
							Cart Totals: {{total}}
						</h4>
          <div class="row">

                  <div id="contact">Coupon</div>

                          <div id="contactForm">

                    <h1>Apply Coupon</h1>
                    
                    
                            <form id="coupon-search" >
                                <!-- Modal Header -->
                                <div class="modal-header">                                   

                                </div>

                                <!-- Modal body -->
                 
                  <div class="modal-body">
                      <div  class="p-3">
                                    <span class="stext-110 cl2"  id="couponusederror" style="display: none;">
									Coupon already used
								</span> 
                {{#if coup.code}}
                          <input class="mt-1 ms-2 profile stext-110" type="text" id="couponInput" name="coupon" value="{{coup.code}}">
                        <input class="mt-1 ms-2 profile" type="hidden" id="couponid" name="couponid" value="{{coup._id}}">
                        <input class="mt-1 ms-2 profile" type="number" id="couponTotal" name="couponTotal" value="{{total}}" hidden>
                     </div>
                  </div>
                  

                                <!-- Modal footer -->
                                <div  class="stext-301 cl2 p-b-30 ms-5">
                                            
                                    <button onclick="applyCoupon(event)" type="submit" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
                                      Apply</button>
                                </div>
                            </form>
                            {{else}}
                         <span class="stext-110 cl2" >No coupons are available</span>

                      {{/if}}  
            </div>
         

         <div id="wallet">Wallet</div>

                          <div id="walletForm">

                    <h1>Apply Wallet</h1>
                    
                          <form id="apply-wallet" >
                                <!-- Modal Header -->
                                <div class="modal-header">
                                   
                                    
                                </div>

                                <!-- Modal body -->
                  
                  <div class="modal-body">
                     
                   <span class="stext-110 cl2"  id="wallet amount" >
								 ₹ {{#if wallet}}
        {{wallet.amount}}
        {{else}}0
        {{/if}}
								</span>   <span class="stext-110 cl2 "  id="nobalanceerror" style="display: none;">
								Insufficient Balance
								</span> 
                <span class="stext-110 cl2 "  id="excessbalanceerror" style="display: none; color: red;">
								Wallet Amount is greater than total 
								</span> 
                          <input class="mt-1 ms-2 profile stext-110" type="text" id="walletInput" name="walletInput" >   
                          <input class="mt-1 ms-2 profile" type="number" id="couponTotal" name="couponTotal" value="{{total}}" hidden>                   
                           
                    
                  </div>
                  

                                <!-- Modal footer -->
                                <div  class="stext-301 cl2 p-b-30 ms-5">
                                     
                                    <button onclick="applyWallet(event)" type="submit" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
                                      Apply</button>
                                </div>
                            </form>  
            </div>
  </div>
						<div class="flex-w flex-t  p-b-13">
							<div class="size-208">
                	<span class="stext-110 cl2" id="discountLabel" style="display: none;">
									Coupon:
								</span>
                	<span class="stext-110 cl2" id="walletLabel" style="display: none;">
									Wallet:
								</span>
							</div>


            

							<div class="size-209">
								<span class="mtext-110 cl2" id="wallettd" style="display: none;">
									RS. <span style="display: none;"
                        id="walletdiscount"> </span>
								</span>
                   <input class="profile" type="text" id="couponapply" name="couponapply"  style="display: none;">
                  <input class="profile" type="text" id="couponapplyid" name="couponapplyid"   hidden>
                  <input class="profile" type="text" id="walletapply" name="walletapply"  style="display: none;">
                  <input class="profile" type="text" id="walletapplyamount" name="walletapplyamount"  hidden >
							</div>
                        </div>
                        <div class="flex-w flex-t  p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2">
									Charge:
								</span>
							</div>

							<div class="size-209">
								<span class="mtext-110 cl2">
									free
								</span>
							</div>
                        </div>
            
                        <div class="flex-w flex-t p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2">
									Payment:
								</span>
							</div>

							<div class="size-209">
              &nbsp; <select class="stext-110 cl2" name="payment" id="payment">
                  <option class="stext-110 cl2" value="COD">COD</option>
                  <option class="stext-110 cl2" value="Razorpay">Razorpay</option>
                  <option class="stext-110 cl2" value="Paypal">Paypal</option>
              </select>							
							</div>
                        </div>
					 
					 
                        	<div class="flex-w flex-t p-t-27 p-b-33">
                            

							<div class="size-208">
								<span class="mtext-101 cl2">
									Total
								</span>
							</div>

							<div class="size-209 p-t-1">
								<span class="mtext-110 cl2" id="couptotal">
                
							{{total}}
 
								</span>
							</div>
						</div> 
          <input class="profile" type="text" id="ordertotalhide" name="total" value="{{total}}" hidden>
               <button type="submit"  id="check" class="flex-c-m btn stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							Proceed to Checkout
						</button>
          </form>
					</div>
              </div>
         </div>  
       </div>   
   <script>

 $(function() {
  
  // contact form animations
  $('#contact').click(function() {
    $('#contactForm').fadeToggle();
  })
  $(document).mouseup(function (e) {
    var container = $("#contactForm");

    if (!container.is(e.target) // if the target of the click isn't the container...
        && container.has(e.target).length === 0) // ... nor a descendant of the container
    {
        container.fadeOut();
    }
  });



  $('#wallet').click(function() {
    $('#walletForm').fadeToggle();
  })
  $(document).mouseup(function (e) {
    var container = $("#walletForm");

    if (!container.is(e.target) // if the target of the click isn't the container...
        && container.has(e.target).length === 0) // ... nor a descendant of the container
    {
        container.fadeOut();
    }
  });
  
});


function autoFill(name, street, city, pincode, state) {
const Toast = Swal.mixin({
	toast: true,
	position: "center",
	showConfirmButton: false,
	timer: 1000,
	timerProgressBar: true,
	didOpen: (toast) => {
		toast.addEventListener("mouseenter", Swal.stopTimer);
		toast.addEventListener("mouseleave", Swal.resumeTimer);
	}
})
       Toast.fire({
            icon: 'success',
            title: 'Address selected'
        })

      document.getElementById('name').value = name
        document.getElementById('street').value = street
        document.getElementById('city').value = city
        document.getElementById('pincode').value = pincode
        document.getElementById('state').value = state         
}




function razorpayPayment(order) {
    var options = {
      "key": "rzp_test_CzVca40KU9CHw6", // Enter the Key ID generated from the Dashboard
      "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      "currency": "INR",
      "name": "Coza Store",
      "description": "Test Transaction",
      "image": "https://example.com/your_logo",
      "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      "handler": function (response) {
     

        verifyPayment(response,order)
      }, 
      "prefill": {
        "name": "Coza Store",
        "email": "Cozastore@example.com",
        "contact": "9999999999"
      },
      "notes": {
        "address": "Razorpay Corporate Office"
      },
      "theme": {
        "color": "#3399cc"
      }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
  };

  function verifyPayment(response,order) {
   $.ajax({
      url: '/verify-payment',
      data: {
        response,
        order
      },
      method: 'post',
      success:(response)=>{
        if(response.status){
          location.href = '/order-success'
        }else{
         location.href = '/cancel'
        }
      }
    })
  }
</script>    





    
    
 
